@font-face {
  font-family: 'Kedage';
  src: url('Kedage-n.ttf');
 }
#menu{ 
	width:250px; 
	background: #083967; 
	position:fixed; 
	left: 0px;
	height:350%;
}
#menu ul{
	margin:0;
	list-style:none;
	float:left;
	padding-left: 2em;
	width:170px;
}
#menu ul li{
	margin:0;
	padding:0;
	color:#ffffff;
	font-size:0.85em;
	padding-top:1px;
	padding-bottom:1px;
}
#menu ul li a{
	color:#fff;
	text-decoration:none;
}
#menu ul li a:hover,#menu ul li a.active,#menu ul li a.active{ color:#8B0000;}
#menu ul li.heading {
	margin:0 0 5px 0;

}
#menu ul li.last{ margin:0 0 1em 0;}
#menu ul li.heading.last{ margin:0 0 1em 0;}
#menu ul li.heading{font-size:1.22em; font-family: 'Kedage'; font-weight:bolder; padding-bottom: 5px;}
#menu ul li.heading a{font-size:1em;}

#closeMenu{
	padding: 0 0 1em 0;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-bottom: 40px;
	text-decoration:none;
}
#closeMenu p{
	float: right;
	color: #FFF;
	font-size: 1.25em;
	cursor: pointer;
	margin-right: 15px;
}
#wrapper{ padding:0 10px;}

#header{
	width: 85%;
	margin-left: 6em;
	padding:0 0 0 0;
	border-bottom:2px solid #083967;
}
#header h1{
	font-size:3em;
	color:#083967;
	font-family: 'Kedage';
	font-weight:normal;
	text-align:center;
}
#header span{
	font-size:1.22em;
	display:block;
	font-family: 'Kedage';
	color:#8B0000;
	text-align: center;
	padding-bottom: 1em;
}
#intro_bar {
	width: 85%;
	border-bottom: 2px solid #083967;
	height: 15em;
	margin-left: 6em;
	float: left;
	padding:0 0 0 0;
}
#intro_bar a:hover{ color:#8B0000; }
#intro_bar h2 {
	font-size: 1.6em;
	padding-bottom: 1.2em;
	padding-top: 1em;
}
#intro_bar a{
	color:#083967;
	text-decoration:none;
}
#intro_bar p {
	font-size: 1em;
	font-weight: normal;
	line-height:1.22em;
}
.overview {
	width: 33%;
	float: left;
}
.overview h2{
	margin-left:2em;
}
.overview p{
	text-align: center;
	margin-left: 2em;
}
.program{
	width: 33%;
	float: left;
	display: inline-block;
}
.program h2{
	margin-left: 4em;
}
.program p{
	margin-left: 2em;
	text-align: center;
}
.contact {
	width: 33%;
	float: left;
	display: inline-block;
}
.contact h2 {
	margin-left: 6em;
}
.contact p {
	margin-left: 2.25em;
	text-align: center;
}
#Content {
	height: 120em;
	float: left;
	width: 90%;
	margin-left: 4em;
}
#Content a {
	color: #083967;
	text-decoration:none;
}
#content p {
/*
	font-size: 0.85em;
	line-height: 0.75em;
*/
}
	
#Content a:hover{ color: #8B0000; }	
#line1{
	margin-left:1em;
	width: 100%;
	height: 28em;
}
/*sakshi*/
.sakshi #imageContainer{
	height: 15em;
	margin-left: 6em;
}
.sakshi{
	float:left;
	width: 35%;
	height: 28em;
	margin-left:5em;
	border-bottom: 2px solid #083967;
	
}
.sakshi p{
	display: inline-block;
	text-align: center;
	width: 90%;
	
}
/*samvada*/
.samvada #imageContainer{
	float:right;
	margin-right:4em;
	margin-top:2em;
}
.samvada{
	float: right;
	display: inline-block;
	width: 35%;
	height: 28em;
	margin-right:6em;
	border-bottom: 2px solid #083967;
	
}
.samvada h3{
	display: inline-block;
	font-family:'Kedage';
	margin-left: 5em;
	text-align: center;
	margin-top: 3em;
	font-size:1.2em;
	
}
.samvada p{
	width: 80%;
	text-align: center;
	margin-top: 1em;
	margin-left: 2em;
}
.samvada span {
	margin-left: 12em;	
}
#line2 {
	width: 100%;
	height: 27em;
	margin-left:1em;
}
/*sankramana*/
.sankramana #imageContainer{
	display: inline-block;
}
.sankramana{
	float:left;
	width: 35%;
	height: 26em;
	margin-left:5em;
	padding-top: 1.5em;
	border-bottom: 2px solid #083967;
}
.sankramana p{
	display: inline-block;
	text-align: center;
	margin-top: 1em;
	width: 50%;
}
/*GandhiBazaarPatrike*/
.gbp #imageContainer{
	margin-left:2em;
	margin-top: 1em;
	
}
.gbp{
	float: right;
	display: inline-block;
	width: 35%;
	height: 27em;
	margin-right:6em;
	border-bottom: 2px solid #083967;
	
}
.gbp p{ 	 
	width: 80%;
	text-align: center;
	margin-top: 1em;
	margin-left: 2em;
}
#footer {
	float: left;
	width: 100%;
	height: 13em;
	margin-left:1em;
}
.hp {
	display: block;
	width: 18%;
	float:left;
	margin-top:1em;
	height: 10em;
	margin-left: 10em;
}
.hp #imageContainer {
	height: 8em;
	margin-top: 1em;
	margin-left:1em;
}
.sas {
	float:left;
	display: inline-block;
	margin-left:2em;
	margin-top:1em;
	width: 28%;
}
.sas #imageContainer {
	height: 8em;
	margin-top: 1em;
	margin-left:0.5em;
}
.sriranga {
	float: left;
	display: inline-block;
	margin-left:3em;
	margin-top: 2em;
	width: 12%;
}
.sriranga #imageContainer {
	height: 8em;
}
.mainpage {
	min-height: 20em;
	width: 100%;
	clear: both;
	float: left;
}
.mainpage .nav{
	float: left;
	width: 12%;
	font-family:'Kedage';
	min-height: 15em;
	margin: 1em 2em 0 5em;
}
.mainpage .menu{
	font-size: 1em;
}
.mainpage .menu li{
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
	padding: 0.5em 0 0.5em 1em;
	color: #3D3D3D;
	font-variant: small-caps;
}
.mainpage .menu li a{
	color: #083967;
	font-size: 0.95em;
	text-decoration: none;
}
.mainpage .menu li a:HOVER, .mainpage .menu li a.active{
	color: #8B0000;
	text-decoration: none;
	font-weight: bold;
}
.about{
	display: inline-block;
	float: left;
	font-family:'kedage';
	padding: 2em 1em 1em 1em;
	font-size: 0.9em;
	border-left: 1px solid #CCCCCC;
	width: 68%;
	color: #3D3D3D;
	min-height: 48em;
}
.about p{
	padding: 0em 1em 1em 0em;
/*
	text-align: justify;
*/
}
.about .h1{
	color: #483D8B;
	font-size: 1em;
	font-weight: bold;
}
.about ul{
	margin: 0 0 1em 1em;
}
.about ul li {
	padding:1em 1em 1em 1em;
}
.about ul li p {
	margin-left: 2.3em;
	width:2em;
}
.mainpage .page_title{
	margin: 0 0 1em 0em;
	padding-bottom: 0.5em;
	font-size: 1.5em;
	color: #083967;
	width: 80%;
	border-bottom: 1px solid #8B0000;	
}
.mainpage ul li a {
	text-decoration: none;
	font-family: 'sans serif';
	color: #8B0000;
}
.col1 {
	display: inline-block;
	width: 15%;
}
.col1 img {
	border: 1px solid black;
}
.col2 {
	display: inline-block;
	width: 15%;
}
.col2 img {
	border: 1px solid black;
}
.col3 {
	display: inline-block;
	width: 15%;
}
.col3 img {
	border: 1px solid black;
}
.col4 {
	display: inline-block;
	width: 15%;
}
.col4 img {
	border: 1px solid black;
}

	

	
	
	
	
	




	






